<div class="row">
    <h2 class="text-center mt-2">Attendance</h2>
</div>
<div class="card mb-4">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-3">
                <p class="mb-0 fw-bold">DATE</p>
            </div>
            <div class="col-sm-9">
                <p class="fw-bold mb-0">STATUS</p>
            </div>
        </div>
        <div *ngFor="let attendance of attendances">
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">{{ attendance.attendanceDate }}</p>
                </div>
                <div class="col-sm-9">
                    <p class="mb-0">{{ attendance.status }}</p>
                </div>
            </div>
        </div>
    </div>
</div>