<div class="row mt-2">
    <div class="col-md-2 col-sm-4 col-8 mx-auto">
        <div class="card">
            <div class="card-body">
                <img src="https://cdn.pixabay.com/photo/2019/09/13/15/32/graduation-4474213_1280.png" class="img-fluid" alt="Cannot Load Image!" (error)="loginImg.src='/assets/profile-placeholder.webp'" #loginImg>
            </div>
        </div>
    </div>
    <div class="col-12 text-center">
        <h3>Mumbai University</h3>
    </div>
    <div class="col-lg-6 col-md-8 col-12 mx-auto bg-alert">
        <app-login-form></app-login-form>
    </div>
    
</div>